/* ELEMENT SELECTOR */

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


/* ID SELECTOR */

#head {
    height: 10vh;
    display: flex;
    position: relative;
}

#head > h1 {
    position: absolute;
    left: 0;   
}

#entries {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entries > * {
    margin: 5px;
}

#foot {
    height: 20vh;
    display:flex;
    flex-direction: column;
    font-size: 12px;
    position: relative;
    height: fit-content;
}

#foot div {
    width:fit-content;
    position: absolute;
    left: 40%;
    top: 20%;
}

/* CLASS SELECTORS */

.card {
    width: 95%;
    height: 125px;
    background-color: gray;
    position: relative;

}

.card > .title:after{
    font-size: medium;
    content: "";
    display: block;
    width: 100%;
}

.solid-black-bottom {
    border-bottom: 1px solid black;
}

.solid-white-bottom {
    border-bottom: 1px solid white;
}

.card > .content {
    tab-size: 10px;
    font-size: small;
    margin-left: 20px;
}

.card > .author {
    font-size: small;
    position:absolute;
    bottom: 2px;
    left: 4px;
}